name: Detection Engineering Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

  pull_request:

jobs:
  linux-pipeline:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y bash

    - name: Run Linux Detection Pipeline
      run: |
        cd validation
        ./run_pipeline.sh


  windows-pipeline:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Run Windows Detection Pipeline
      shell: pwsh
      run: |
        cd validation
        ./run_pipeline.sh


